[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
datetime = "*"
seaborn = "*"
matplotlib = "*"
jupyter = "*"
sklearn = "*"
scipy = "*"
ibm-watson-machine-learning = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.9"
